@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
     
Noi credem că: <br />
• toţi copiii sunt prioritatea noastra.<br />
• toţi copiii pot învăţa şi au inerentă valoare.<br />
• implicarea familiei este esenţială pentru performanţa pozitivă a elevului.<br />
• modelele     pozitive   ale  familiei  şi comunităţii  sunt  esenţiale   pentru  dezvoltarea  de competenţe şi valori.<br />
• intervenţia timpurie în educaţie este esenţială.<br />
• securitatea este esenţială pentru eficacitatea procesului de predare - învăţare.<br />
• educaţia pentru toţi este esenţială pentru supravieţuirea societăţii.<br />
• cunoaşterea şi respectarea diversităţii încurajează înţelegerea şi toleranţa.<br />
• expectanţele înalte promovează un nivel ridicat de achiziţie. <br />
• oportunităţile egale sunt un drept al omului.<br />
• viaţa umană poate fi pozitiv schimbată prin educaţie.<br />
• urmărirea excelenţei necesită munca şi angajament pe viaţă.<br />

  <br />
  <br />

Noi ne imaginăm: <br />
• o şcoală în care toţi părinţii / tutorii sunt implicaţi activ în educaţia copiilor lor.<br />
• o şcoală în care există o puternică legătură între şcoală, acasă, şi comunitate.<br />
• o şcoală în care toţi elevii să se împlinească sau să-şi atingă standardele.<br />
• o şcoală în care toţi copiii să integreze ceea ce au învăţat în situaţii de zi cu zi.<br />
• o şcoală în care personalul este susţinut şi are resurse pentru a-şi desfăşura munca.<br />
</p>
