@{
    ViewBag.Title = "AdminPage";
}

<h2>Pagina Administratorului</h2>



<div>
<div style = 'display:inline-block'>
<fieldset>
<legend>User Information</legend>
               <p>
                        Nume :
                    </p>
                    <input id="numep" type="text" />
                    <p>
                        Prenume :
                    </p>
                    <input id="prenumep" type="text" />
                    <p>
                        Mail (Acesta va fi si user Name) :
                    </p>
                    <input id="mailp" type="text" />
                    <p>
                        Poza</p>
                    <input id="File1" type="file" />
                    <p>
                        Scurta Descriere</p>
                    <textarea id="bio" cols="20" rows="2"></textarea>
                    <p>
                        Parola :
                    </p>
                    <input id="pa1" type="password" />
                    <p>
                        Confirma Parola :
                    </p>
                    <input id="pa2" type="password" />
                    <br />
                    <br />
                    <br />
                    <input id="Enter2" type="submit" value="Adauga Utilizator" />
                    <input id="Enter3" type="submit" value="Update Utilizator" />
 </fieldset>
</div>
<div style = 'display:inline-block'>
<fieldset>
<legend>Operatiii</legend>
<h2>Cauta:</h2>
Mail :
    <input id="Text1" type="text" />
    <input id="Submit1" type="submit" value="Executa Cautarea" />

<h2>Sterge:</h2>
Mail:
    <input id="Text2" type="text" />
    <input id="Submit2" type="submit" value="Sterge Utilizator" />
   </fieldset>
    <img alt="ADMINISTRATOR" src="../../Pictures/altele/administrator.png" width = "480"/>

</div>
</div>