@model EduIncluziva.Models.User

@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>

<p> In stadiu de lucru...</p>
<br />
<p>Pentru orice nelamuriri tehnice legate de site va rugam contactati:</p>
<table>
    <tr>
        <th>
            Nume
        </th>
        <th>
            Prenume
        </th>
        <th>
            Mail
        </th>
    </tr>
    <tr>
        <td>
            Pop
        </td>
        <td>
            Adrian
        </td>
        <td>
            pad_2001ro@yahoo.com
        </td>
    </tr>
    <tr>
        <td>
            Mirel
        </td>
        <td>
            Vlad
        </td>
        <td>
            vlad.mirel@outlook.com
        </td>
    </tr>
    <tr>
        <td>
            Muresan
        </td>
        <td>
            Mircea
        </td>
        <td>
            mmp_mircea@yahoo.com
        </td>
    </tr>
</table>
