@model EduIncluziva.Models.User

@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>

<p>
    Proiectul a fost sustinut de
    <a href ="http://www.fundatiacomunitaracluj.ro/">Fundatia Comunitara Cluj</a>
    <br />
    <img src ="../../Pictures/altele/sigla.jpg" alt ="Fundatia Comunitara Cluj"/> 

    <br />
    Proiect finantat de 

    <a href ="http://www.electrogrup.ro/">Electro grup</a>
    <br />
    <img src ="../../Pictures/altele/elg.jpg" alt ="Electro grup"/> 

</p>
<br />
<p>Pentru orice nelamuriri tehnice legate de site va rugam contactati:</p>
<table>
    <tr>
        <th>
            Nume
        </th>
        <th>
            Prenume
        </th>
        <th>
            Mail
        </th>
    </tr>
    <tr>
        <td>
            Pop
        </td>
        <td>
            Adrian
        </td>
        <td>
            pad_2001ro [at] yahoo [dot] com
        </td>
    </tr>
    <tr>
        <td>
            Mirel
        </td>
        <td>
            Vlad
        </td>
        <td>
            vlad.mirel [at] outlook [dot] com
        </td>
    </tr>
    <tr>
        <td>
            Muresan
        </td>
        <td>
            Mircea Paul
        </td>
        <td>
            mmp_mircea [at] yahoo [dot] com
        </td>
    </tr>
</table>

