@model EduIncluziva.Models.User

@{
    ViewBag.Title = "Contact";
}



<p>
    Proiectul a fost susţinut de 
   <a href ="http://www.fundatiacomunitaracluj.ro/"><font face="monotype corsiva" size="5px" color="blue">Fundaţia Comunitară Cluj</font></a>
    <br />
        
    <br />
    Proiect finanţat de 

    <a href ="http://www.electrogrup.ro/"><font face="monotype corsiva" size="5px" color="blue">Electrogrup</font></a>
    
  
</p>
<br /><br /><br />
<font face="monotype corsiva" size="5px" color="blue">Contact:</font>
<br /><br />
<table>
    <tr>
        <th>
            Nume
        </th>
        <th>
            Prenume
        </th>
        <th>
            Mail
        </th>
    </tr>
    <tr>
        <td>
            Pop
        </td>
        <td>
            Adrian
        </td>
        <td>
            pad_2001ro [at] yahoo [dot] com
        </td>
    </tr>
    <tr>
        <td>
            Mirel
        </td>
        <td>
            Vlad
        </td>
        <td>
            vlad.mirel [at] outlook [dot] com
        </td>
    </tr>
    <tr>
        <td>
            Muresan
        </td>
        <td>
            Mircea Paul
        </td>
        <td>
            mmp_mircea [at] yahoo [dot] com
        </td>
    </tr>
</table>

<br />

