@{
    ViewBag.Title = "Home Page";
}
<div>
    <table class="LatestNewsTable">
        <tr>
            <th>
                Licee
            </th>
            <th>
                Altele
            </th>
            <th>
                Stiri
            </th>
        </tr>
        <tr>
            <td> 
                @Html.Partial("_LiceePartialPage") 
            </td>
            <td>
                daaaaaaaaaaaaaaaaaaaaaaaaa
            </td>
            <td>
                @Html.Partial("_LatestNews") 
            </td>
        </tr>
    </table>
</div>
