@{
    Layout = null;
    ViewBag.Title = "AdminPage";    
}

<div>
    <fieldset>
        <legend>Operatii</legend>
        <table>
            <tr>
                <td>@Html.ActionLink("Adauga un utilizator nou","AdaugaUtilizatorNou")</td>
                <td>@Html.ActionLink("Cautari","CautaUtilizator")</td>
            </tr>
        </table>
    </fieldset>
</div>
<img alt="Pagina Administratorului" src="../../Pictures/altele/PaginaAdministratorului.png" />
<img alt="ADMINISTRATOR" src="../../Pictures/altele/administrator.png" width="480" />
                        