<table class="footertable">
    <tr>
        <td>
            <img src="../../Pictures/altele/sigla.jpg" alt="Fundatia Comunitara Cluj">
        </td>
        <td>
            <img src="../../Pictures/altele/elg.jpg" alt="Electro grup">
        </td>
    </tr>
</table>