<table class="footertable">

    <tr>
        <td width="10%" align="center">
           <font face="monotype corsiva" color="black" size="4px">Un proiect susţinut de:</font>
        </td>
        <td width="20%" align="center">
           <a href="http://www.fundatiacomunitaracluj.ro/" target="_blank"><img src="../../Pictures/altele/sigla3.jpg" alt="Fundatia Comunitara Cluj"></a>
        </td>
        <br />
        <td width="10%" align="center">
            <font face="monotype corsiva" color="black" size="4px">şi finanţat de către:</font>
        </td>
        <td width="10%" align="center">
            <a href="http://www.electrogrup.ro/" target="_blank"><img src="../../Pictures/altele/elg3.jpg" alt="Electro grup"></a>
        </td>
        <td width="10%" align="center">
           <font face="monotype corsiva" color="black" size="4px">în cadrul </font>
            <td width="20%" align="center">
             <a href="http://www.cseicluj.ro/" target="_blank"><img src="../../Pictures/altele/csei.jpg" alt="Centrul Scolar pentru Educatie Incluziva Cluj Napoca"></a>
            </td>
    </tr>
</table>
<h6 text align="right">Realizat de Vlad Mirel, Mircea Mureşan şi <a href="http://www.cseicluj.ro/" target="_blank"> Adrian Pop</a></h6>