@{
    var dataFile = Server.MapPath("~/App_Data/news.txt");
    Array userData = File.ReadAllLines(dataFile);
}
@{
    var dataFile2 = Server.MapPath("~/App_Data/articoleVechi.txt");
    Array userData2 = File.ReadAllLines(dataFile2);
}
<div id>
    <table border="1">
        <tr>
            <td>
             <img alt="Latest News" src="../../Pictures/altele/latest.png" width="100%" />
            </td>
        </tr>
        <tr>
            <td>
                <textarea id="ta" rows="12" readonly="readonly" />
        @foreach (string dataLine in userData)
        {
            foreach (string dataItem in dataLine.Split(','))
            {       
                        
                            @dataItem <text>&nbsp;</text>
                             
            }
        }
          </textarea>
            </td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td>
                <img alt="Latest News" src="../../Pictures/altele/arhiva.png" width="100%" />
            </td>
        </tr>
        <tr>
            <td>
                <textarea id="ta2" rows="12" readonly="readonly" width="100%"/>
        @foreach (string dataLine in userData2)
        {
            foreach (string dataItem in dataLine.Split(','))
            {       
                        
                            @dataItem <text>&nbsp;</text>
                             
            }
        }
    
          </textarea>
            </td>
        </tr>
    </table>
</div>
