<div class="LiceeDiv">
<table>
    <tr>
        <td>
            <a href="http://www.google.ro">Liceu1</a>
        </td>        
    </tr>
    <tr>
        <td>
            <a href="http://www.bing.com">Liceu2</a>
        </td>        
    </tr>
    <tr>
        <td>
            <a href="http://www.sport.ro">Liceu3</a>
        </td>        
    </tr>
</table>
</div>