<div class="LiceeDiv">
<table>
    <tr>

        <td>
            <a href="http://www.cluj.info/adrese/educatie-si-cercetare/gradinite/gradinita-speciala/14/124/4780/">Gradinita Speciala</a>
        </td>  
    </tr>
    <tr>
        <td>
            <a href="http://www.cseicluj.ro">Centrul Scolar pentru Educatie Incluziva</a>
        </td>        
    </tr>
    <tr>
        <td>
            <a href="http://www.cjcluj.ro/sscrd-prezentare/">Scoala Gimnaziala Speciala Centrul de Resurse si Documentare in Educatia Incluziva</a>
        </td>        
    </tr>
    <tr>
        <td>
            <a href="http://www.cjcluj.ro/UserUploadedFiles/File/Liceul%20pentru%20Deficienti%20de%20Vedere%202012.pdf">Liceul pentru Deficienti de Vedere</a>
        </td>        
    </tr>
    <tr>
        <td>
            <a href="http://www.cjcluj.ro/UserUploadedFiles/File/PREZENTARI%20gis/Prezentare%20Lic%20Def%20Auz%202012.pdf">Liceul pentru Deficienti de Auz</a>
        </td>        
    </tr>
    <tr>
        <td>
            <a href="http://samus.licee.edu.ro/"> Scoala de Arte si Meserii "SAMUS"</a>
        </td>        
    </tr>

    <tr>
        <td>
            <a href="http://www.scoalaspecialatransilvania.ro/"> Scoala Gimnaziala Speciala "Transilvania" Baciu</a>
        </td>        
    </tr>

    <tr>
        <td>
            <a href="http://scoalaspecialadej.wordpress.com/2011/06/02/scoala-speciala-dej/"> Scoala Gimnaziala Speciala Dej</a>
        </td>        
    </tr>


    <tr>
        <td>
            <a href="http://scoli.didactic.ro/scoala_speciala_huedin_scoala_speciala_huedin"> Scoala Gimnaziala Speciala Huedin</a>
        </td>        
    </tr>

</table>
</div>