@{
    ViewBag.Title = "Confirm";
}

<h2>Confirm</h2>
<h3><p>Cererea dumneavoastra a fost inregistrata cu succes. In curand veti putea folosi platforma</p></h3>
@Html.ActionLink("Pentru a reveni la pagina principala apasati aici", "GoHome", "Cont")
<br />
<img alt="Image" src="../../Pictures/altele/a.jpg" />
      
