@{
    ViewBag.Title = "Confirm";
}


<h3>Cererea dumneavoastră a fost înregistrată cu succes. În curand veţi primi un e-mail de confirmare</h3>
<br />
@Html.ActionLink("Pentru a reveni la pagina principală apăsaţi aici", "GoHome", "Cont")
<br />
<img alt="Image" src="../../Pictures/altele/a.jpg" />
      
