@model EduIncluziva.Models.User
@{
    ViewBag.Title = "ContulMeu";
}
<div>
    <fieldset>
        @if (Model.Role.Equals("Admin"))
        {<a href="ContulMeu.cshtml">ContulMeu.cshtml</a>
            Html.RenderAction("AdminPage", "Admin");
        }
        else
        {
            <legend>Informaţii despre contul meu</legend>
            <table border="0">
                <tr>
                    <td>
                        @if (Model.Role.Equals("Elev"))
                        {
                            Html.RenderAction("PaginaElevului", "Elevi", Model.Mail);
                        }
                        @if (Model.Role.Equals("Profesor"))
                        {
                            Html.RenderAction("PaginaProfesorului", "Profesori", Model.Mail);
                        }
                    </td>
                </tr>
            </table>
        }
    </fieldset>
</div>
