@{
    ViewBag.Title = "Register";
}

<h2> Register</h2>

<table border = "0">
<tr>
<td>
<img src = "../../Pictures/altele/t.jpg" alt = "Teacher and Student" height = "400" width = "300">
</td>
<td>
Alegeti categoria la care apartineti : 

</br>
</br>
<input id="Elevi" name = "categorie" type="radio" />Elevi
</br>
<input id="Profesori" name = "categorie" type="radio" />Profesori
</br>
</br>
</br>

&nbsp&nbsp&nbsp<input id="Submit1" type="submit" value="Select" />

</td>
</tr>
</table>