 @{
    ViewBag.Title = "AddLesson";
}
@model EduIncluziva.Models.User
 <div>
      <img alt="Add Lesson" src="../../Pictures/altele/AddLessonBanner.png" />
</div>

<div>

    <h2>Adauga Lectii pentru materia: @Html.Encode(ViewData["materie"])</h2> 

</div>
@{
    if(ViewData["fileUp"] != null)
    {
        <script type="text/javascript">
            alert("Fisierul a fost incarcat cu succes");
        </script>
    }  
}
<div style= 'display: inline-block;'>
<div>
<div>

Selecteaza Lectia:
 
    <select id="Select1">
        <option>Lectii</option>
          <option>Lectii</option>
            <option>Lectii</option>
              <option>Lectii</option>
                <option>Lectii</option>
                  <option>Lectii</option>
    </select>
    <input id="Submit4" type="submit" value="Vezi Lectie Selectata" />
</div>
<div>
<h2>
Adauga Lectie
</h2>
@using (Html.BeginForm("AddLesson", "AddLesson", new { mail = Model.Mail, materie = ViewData["materie"] }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<input name="file" type="file" />
<input id="Submit1" type="submit" value="submit" />
}
</div>
<div>
<h2>Cauta Lectie: </h2>
Nume:
    <input id="Text1" type="text" />
    <input id="Submit2" type="submit" value="Cauta" />

</div>
<div>
<h2>Sterge Lectie: </h2>
Nume:
    <input id="Text2" type="text" />
    <input id="Submit3" type="submit" value="Sterge" />

</div>
</div>
<div>
</div>
</div>
<div style ='display: inline-block; '>
    <img alt="Image" src="../../Pictures/altele/1a.png" />
</div>
