@{
    ViewBag.Title = "AddLesson";
}
<table border = "0">
<tr>
<td>
 <img alt="Profesori" src="../../Pictures/altele/AddLessonBanner.png" width = "800" height = "80"/>
 </td>
 </tr>
 </table>


<center>
<table border = "0">

<tr>
<td>
    <select id="Select1">
        <option>Lectia 1</option>
          <option>Lectia 2</option>
          <option>Lectia 3</option>
            <option>Lectia 4</option>
            <option>Lectia 5</option>
            <option>Lectia 6</option>
            <option>Lectia 7</option>
          <option>Lectia 8</option>
          <option>Lectia 9</option>
            <option>Lectia 10</option>
            <option>Lectia 11</option>
            <option>Lectia 12</option>
    </select>

</td>
<td>

<table border ="0">

<tr>

<td>
<b>
Adauga lectie
</b>
<br />
    <input id="File1" type="file" />
    <input id="Submit1" type="submit" value="Adauga" />
</td>

</tr>

<tr>
<td>
<b>
Sterge Lectie <br />
</b>
   Numele Lectiei :  <input id="Text1" type="text" />
   <br />
   <center>
    <input id="Submit2" type="submit" value="Sterge" />
    </center>
</td>
</tr>

<tr>
<td>
<b>
Cauta Lectie <br />
</b>
Numele Lectiei : 
    <input id="Text2" type="text" />
    <br />
    <center>
    <input id="Submit3" type="submit" value="Cauta" />
    </center>

</td>
</tr>

</table>

</td>

<td>
   <img alt="Profesori" src="../../Pictures/altele/untip.jpg" width = "300" height = "400"/>

</td>

</tr>


</table>

</center>