@{
    ViewBag.Title = "AddStudents";
}

<h2>AddStudents</h2>

<table border = "0">
<tr>
<td>
    <select id="Select1">
        <option>Student1</option>
        <option>Student2</option>
        <option>Student3</option>
    </select>
</td>
</tr>
</table>
