@{
    ViewBag.Title = "PaginaProfesorului";
    Layout = null;
}
@model EduIncluziva.Models.User
<h2>Pagina Profesorului</h2>
<table border="0">
    <tr>
        <td>
            <center>
                <table border="0">
                    <tr>
                        <td>
                            <center>
                                <p>Alegeti o poza</p>
                                @using (Html.BeginForm("AdaugaPoza", "Profesori", new { mail = Model.Mail }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    <input name="file" type="file" />
                                    <br/>
                                    <br/>
                                    <p>
                                        Click pe butonul de mai jos pentru a incarca poza
                                    </p>
                                    <p>
                                        Va rugam sa incarcati doar poze in format .jpg sau .jpeg!
                                    </p>
                                    <input id="Submit1" type="submit" value="Incarcati" />
                                }
                            </center>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Nume :
                            <input id="Text1" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Prenume :
                            <input id="Text2" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Bio :
                            <br />
                            <textarea id="TextArea1" cols="20" rows="2"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Materia 1 :
                            <input id="Text5" type="text" />
                        </td>
                        <td>
                            <center>
                                @using (Html.BeginForm("AdaugaLectii", "Profesori", FormMethod.Post))
                                {
                                    <input type="submit" value="Adauga Lectii" name="materie1" />
                                }
                            </center>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Materia 2 :
                            <input id="Text6" type="text" />
                        </td>
                        <td>
                            <center>
                                @using (Html.BeginForm("AdaugaLectii", "Profesori", FormMethod.Post))
                                {
                                    <input type="submit" value="Adauga Lectii" name="materie2" />
                                }
                            </center>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Materia 3:
                            <input id="Text7" type="text" />
                        </td>
                        <td>
                            <center>
                                @using (Html.BeginForm("AdaugaLectii", "Profesori", FormMethod.Post))
                                {
                                    <input type="submit" value="Adauga Lectii" name="materie3" />
                                }
                            </center>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <center>
                                <input id="Submit1" type="submit" value="Update Informatii" />
                            </center>
                        </td>
                    </tr>
                </table>
            </center>
        </td>
        <td>
            <img alt="Profesori" src="../../Pictures/altele/a1.png" width="300" height="400" />
        </td>
    </tr>
</table>
