@{
    ViewBag.Title = "Profesori";
}

<h2>Profesori</h2>

<table border = "0">
<tr>
<td>
<center>
<table border = "0">
<tr>
<td>
<a href = "www.google.ro">
<img alt="PaginaPersonala" src="../../Pictures/altele/1.png" />
</a>
</td>
</tr>
<tr>
<td>
    <a href = "../../Views/Profesori/AddStudents.cshtml">
    <img alt="AdaugareElevi" src="../../Pictures/altele/2.png" />
    </a>
</td>
</tr>
</table>
</center>
</td>
<td>
    <img alt="Teacher" src="../../Pictures/altele/teachers.png" />
</td>
</tr>
</table>
